# Hexo Configuration
## Docs: http://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: хвишиА
subtitle: LIFE IS SIMPLE, LOVE SMILE AND CODE
description: jverson's blog | java | web | Jverson
author: Jverson
email: jverson@126.com
#language: en
language: zh-CN

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://jverson.com
root: /
permalink: :year/:month/:day/:title/
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
permalink_defaults:

# Directory
source_dir: source
public_dir: public

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
highlight:
  enable: true
  ##auto_detect: true
  line_number: true
  tab_replace:

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Archives
## 2: Enable pagination
## 1: Disable pagination
## 0: Fully Disable
archive: 1
category: 1
tag: 1
## Archives
archive_generator:
  per_page: 40
  yearly: true
  monthly: true
  daily: false

# Server
## Hexo uses Connect as a server
## You can customize the logger format as defined in
## http://www.senchalabs.org/connect/logger.html
port: 8008
server_ip: localhost
logger: false
logger_format: dev

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: MMM D YYYY
time_format: H:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 12
pagination_dir: page

# Disqus
disqus_shortname:

# Extensions
## Plugins: https://github.com/hexojs/hexo/wiki/Plugins
## Themes: https://github.com/hexojs/hexo/wiki/Themes
theme: maupassant
exclude_generator:

# Deployment
## Docs: http://hexo.io/docs/deployment.html

# deploy:
#   type: git
#   repository: git@github.com:jiwenxing/jiwenxing.github.io.git
#   branch: master
  
deploy:
  type: git
  repository: https://github.com/jiwenxing/jiwenxing.github.io.git
  branch: master
#backup
backup:
    type: git
    theme: maupassant
    repository:
       github: git@github.com:jiwenxing/blogbackup.git,master