#footer= '© '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', href='http://jverson.com')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.

#cloud-tie-wrapper.cloud-tie-wrapper
script(src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js")
script.
  var cloudTieConfig = {
  url: document.location.href,
  sourceId: "",
  productKey: "f6ab0f69594c4ca685224fc3908ec771",
  target: "cloud-tie-wrapper"
  };
  var yunManualLoad = true;
  Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
