.widget
  <a href="http://jverson.com/"><img src="http://ochyazsr6.bkt.clouddn.com/201610131152_383.jpg" alt="" border="0" style="margin-top:15px; border-radius: 300px;" width="180px"; height="180px"; ></a>
