.widget
  <a href="https://jverson.com/"><img src="https://github.com/jiwenxing/hexo-blog/blob/master/themes/maupassant/source/img/201610131152_383.jpg?raw=true" alt="" border="0" style="margin-top:15px; border-radius: 300px;" width="180px"; height="180px"; ></a>
