.widget
  .widget-title
    i(class='fa fa-bar-chart')= ' ' + __('visitors')
  <a href="http://s05.flagcounter.com/more/quj"><img src="http://s05.flagcounter.com/count2/quj/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Since 2016.04.28" border="0" style="margin-top:15px;"></a>

