@charset "utf-8";/* CSS Document */
*{font-family:"微软雅黑";padding:0px;margin:0px;}
.clear{clear:both;}
.paimai_list{width:1180px;margin:30px auto;padding-left:20px;}
.paimai_content{border-left:2px solid #c5c5c5;}
.list_content{width:1150px;height:200px;background:#eeeeee;margin-left:30px;margin-bottom:15px;border:1px solid #dddcdc;}
.list_content a{display:block;float:left;}
.list_content dl{float:left;margin-top:20px;margin-left:20px;}
.list_content dl dt h2{font-size:28px;color:#666666;line-height:34px;}
.list_content dl .pm_organ{margin-top:20px;font-size:14px;line-height:16px;color:#666666;}
.list_content dl .pm_time{margin-top:65px;}
.list_content dl .pm_time em{font-size:28px;font-style:normal;color:#d10311;line-height:34px;}
.list_content .pm_date{float:right;background:url(../images/paimai_date_bg.jpg) no-repeat;width:80px;height:119px;margin-right:15px;margin-top:25px;text-align:center;color:#fff;}
.list_content .pm_date h2{font-size:52px;line-height:34px;margin-top:15px;}
.list_content .pm_date h3{font-size:18px;line-height:34px;}
.list_head {margin-left:-20px;}
.list_head .time_box{float:left;}
.list_head .time_content{float:left;height:42px;background-color:#fff;width:188px;background: rgba(255,255,255,0.8);}
.list_head .time_content em{display:inline-block;width:24px;height:24px;background:url(../images/date.png) no-repeat;position:relative;top:13px;margin-left:15px;margin-right:10px;}
.list_head .time_content  span{display:inline-block;font-size:20px;line-height:16px;color:#d10311;position:relative;top:12px;}

.list_head1 {margin-left:-20px;}
.list_head1 .time_box{float:left;width:36px;height:36px;background-color:#008060;padding:3px 3px 3px 3px;}
.list_head1 .time_box p{color:#FFF;font-size: 13px;font-weight: bold;text-align: center;}
.list_head1 .time_content{float:left;height:42px;background-color:#fff;width:188px;background: rgba(255,255,255,0.8);}
.list_head1 .time_content em{display:inline-block;width:18px;height:18px;background:url(../images/date.png) no-repeat;position:relative;top:12px;margin-left:15px;margin-right:10px;}
.list_head1 .time_content span{display:inline-block;font-size:20px;line-height:16px;color:#008060;position:relative;top:12px;}

.list_head2 {margin-left:-20px;}
.list_head2 .time_box{float:left;width:36px;height:36px;background-color:#7b7b7b;padding:3px 3px 3px 3px;}
.list_head2 .time_box p{color:#FFF;font-size: 13px;font-weight: bold;text-align: center;}

.time_box{width:36px;height:36px;background-color:#d10311;padding:3px 3px 3px 3px;}
.time_box p{color:#FFF;font-size: 13px;font-weight: bold;text-align: center;}
.list-header-fixed{position:fixed;top:10px;}