<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>

<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>. All Rights Reserved. 
    	</div>
      	
        
        <div class="footer-right">
      		<span id="busuanzi_container_site_uv">
             <span id="busuanzi_value_site_uv" style="color:#EBEBEB"></span>
          </span>
          <span id="busuanzi_container_site_pv">
             本站访问量: <span id="busuanzi_value_site_pv"></span>
          </span>
      	</div>
    </div>
  </div>
</footer>